.footer {
  text-align: center;
  padding: 2rem;
  color: var(--text-secondary);
  font-size: 0.85rem;
  background-color: transparent;
  margin-top: auto; /* Empurra o footer para o final da tela */
}

.footer p {
  line-height: 1.8;
}

.footer br {
  display: block;
  content: "";
  margin-top: 4px;
}